__pycache__/
*.so
build/
*.egg-info/
.vscode

build
data
output
eval_output
diff-gaussian-rasterization

logs/
*.log

checkpoints/

__pycache__/
*.pyc

venv/
env/

*.whl

.DS_Store
Thumbs.db

nvdiffrast/          
simple-knn/         
submodules/         
